<!DOCTYPE html>
<html 
	lang="pt-br"
	xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="'Index'">
    
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>PDV - PONTO DE VENDA</title>
</head>

<body>
	<div class="container" layout:fragment="conteudo">
		<h1 class="text-center">Pesquisar Empresa</h1>

		<div aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/admin}">Dashboard</a></li>
				<li class="breadcrumb-item active" aria-current="page">Empresas</li>
				<li class="breadcrumb-item" th:if="${#lists.isEmpty(pagina.content)}"><a th:href="@{/empresas/novo}">Novo</a></li>
			</ol>
		</div>

		<!--
		<form class="row" method="GET" th:object="${empresaFilter}" th:action="@{/empresas}">
			<div class="col-sm-8"></div>	
					
			<div class="col-sm-4">
				<div class="input-group mb-3">						 
					<input id="nome" th:field="*{nome}" type="text" class="form-control" placeholder="Pesquisar por nome...">
					 
					<div class="input-group-append">
						<button id="btnBuscar" class="btn btn-primary" type="submit">
							<i class="fas fa-search"></i>
						</button> 
					</div>
				</div>
			</div>
		</form>-->

		<div class="row">
			<div class="col-sm-12 table-responsive">
				<table class="table table-hover thead-light table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th style="width: 90%;">Informações da empresa <i class="fas fa-angle-down"></i></th>
							<th style="width: 10%;" colspan="2" class="text-center">Ações <i class="fas fa-angle-down"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="empresa : ${pagina.content}">
							<td th:text="${empresa.nome}"></td>
							
							<td class="text-center">
								<div th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">
									<a th:href="@{|/empresas/${empresa.codigo}|}" data-toggle="tooltip" title="EDITAR" data-position="top">
										<i class="fas fa-pencil-alt"></i>
									</a>
								</div>
							</td>
							<td class="text-center" data-toggle="tooltip" title="EXCLUIR" data-position="top"> 
								<div th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">
									<a href="javascript:;" class="js-btn-excluir" th:url="@{|/empresas/${empresa.codigo}|}">
										<i class="fas fa-trash-alt text-danger"></i>
									</a>
								</div>
							</td>
						</tr>
						
						<tr th:if="${#lists.isEmpty(pagina.content)}"> 
							<td colspan="5" class="text-center">Adicione os dados da sua empresa para sair no cupom!</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<!--<th:block th:include="componentes/paginacao"></th:block>-->
		</div>
	</div>
	
  	<!-- JavaScript -->
  	<th:block layout:fragment="javascripts">
  	<script th:src="@{vendor/sweetalert/sweetalert.min.js}"></script>
  	<script th:src="@{js/pdv.dialogo-excluir.js}"></script>
  	</th:block>
  	
  	<script>
	$(document).ready(function(){
	  $('[data-toggle="tooltip"]').tooltip();
	});
	</script>
</body>
</html>