<!DOCTYPE html>
<html 
	lang="pt-br"
	xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="'Index'">
    
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>PDV - PONTO DE VENDA</title>
</head>

<body>
	<div class="container" layout:fragment="conteudo">
		<h1 class="text-center">Pesquisar Cliente</h1>
		
		<!-- Breadcrumb -->
		<div aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/admin}">Dashboard</a></li>
				<li class="breadcrumb-item active" aria-current="page">Clientes</li>
				<li class="breadcrumb-item"><a th:href="@{/clientes/novo}">Novo</a></li>
			</ol>
		</div>
		
		<!-- Filtros -->
		<form class="row" method="GET" th:object="${clienteFilter}" th:action="@{/clientes}">
			<!-- busca -->	
			<div class="col-sm-8"></div>	
					
			<div class="col-sm-4">
				<div class="input-group mb-3">						 
					<input id="nome" th:field="*{nome}" type="text" class="form-control" placeholder="Pesquisar por nome...">
					 
					<div class="input-group-append">
						<button id="btnBuscar" class="btn btn-primary" type="submit">
							<i class="fas fa-search"></i>
						</button> 
					</div>
				</div>
			</div>
		</form>
		
		<!-- Table de livros -->
		<div class="row">
			<div class="col-sm-12 table-responsive">
				<table class="table table-hover thead-light table-bordered">
					<thead>
						<tr>
							<th style="width: 10%;">Código <i class="fas fa-angle-down"></i></th>
							<th style="width: 20%;">Nome <i class="fas fa-angle-down"></i></th>
							<th style="width: 15%;" class="text-center">CPF <i class="fas fa-angle-down"></i></th>
							<th style="width: 15%;" class="text-center">Data Nasc. <i class="fas fa-angle-down"></i></th>
							<th style="width: 15%;" class="text-center">Telefone <i class="fas fa-angle-down"></i></th>
							<th style="width: 15%;" class="text-center">Limite comp. <i class="fas fa-angle-down"></i></th>
							<th style="width: 10%;" colspan="2" class="text-center">Ações <i class="fas fa-angle-down"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cliente : ${pagina.content}">
							<td class="text-center" th:text="${cliente.codigo}"></td>
							<td th:text="${cliente.nome}"></td>
							<td class="text-center" th:text="${cliente.cpf}"></td>
							<td class="text-center" th:text="${cliente.dataNascimento}"></td>
							<td class="text-center" th:text="${cliente.telefone}"></td>
							<td class="text-center">R$ [[${{cliente.limiteCompra}}]]</td>
							
							<td class="text-center">
								<a th:href="@{|/clientes/${cliente.codigo}|}" data-toggle="tooltip" title="EDITAR" data-position="top">
									<i class="fas fa-pencil-alt"></i>
								</a>
							</td>
							<td class="text-center" data-toggle="tooltip" title="EXCLUIR" data-position="top"> 
								<a href="javascript:;" class="js-btn-excluir" th:url="@{|/clientes/${cliente.codigo}|}">
									<i class="fas fa-trash-alt text-danger"></i>
								</a>
							</td>
						</tr>
						
						<tr th:if="${#lists.isEmpty(pagina.content)}"> 
							<td colspan="8" class="text-center">Nenhuma informação encontrado!</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<!-- Paginação -->
			<div class="col-sm-12" th:if="${not #lists.isEmpty(pagina.content)}">
				<nav>
				  <ul class="pagination pagination-sm justify-content-center" th:with="paginaAtual=${pagina.number}">
				    <li th:class="${pagina.first} ? 'page-item disabled'" class="page-item">
				    	<a class="page-link" th:href="|?page=${paginaAtual - 1}|">
				    		<i class="fas fa-chevron-left"></i>
				    	</a>
				    </li>
				    
				    <th:block th:each="p : ${#numbers.sequence(1, pagina.totalPages)}" th:with="numeroPagina=${p - 1}">
					    <li class="page-item" th:class="${paginaAtual == numeroPagina} ? 'page-item active'">
					    	<a class="page-link" th:href="|?page=${numeroPagina}|">[[${p}]]</a>
					    </li>
				    </th:block>
				    
				    <li class="page-item" th:class="${pagina.last} ? 'page-item disabled'">
				    	<a class="page-link" th:href="|?page=${paginaAtual + 1}|">
				    		<i class="fas fa-chevron-right"></i>
				    	</a>
				    </li>
				  </ul>			
				</nav>
			</div>
		</div>
	</div>
	
  	<!-- JavaScript -->
  	<th:block layout:fragment="javascripts">
  	<script th:src="@{vendor/sweetalert/sweetalert.min.js}"></script>
  	<script th:src="@{js/pdv.dialogo-excluir.js}"></script>
  	</th:block>
  	
  	<script>
	$(document).ready(function(){
	  $('[data-toggle="tooltip"]').tooltip();
	});
	</script>
</body>
</html>