<!DOCTYPE html>
<html 
	lang="pt-br"
	xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="'Index'"
    th:with="currentPage='CadastrarCategoria'">
    
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>PDV - PONTO DE VENDA</title>
</head>

<body>
	<section class="container" layout:fragment="conteudo">

		<h1 class="text-center" th:if="${categoria.novo}">Cadastrar Categoria</h1>
		<h1 class="text-center" th:unless="${categoria.novo}" th:text="|Edição de ${categoria.nome}|">Editar Categoria</h1>
		
		<hr />

		<div aria-label="breadcrumb">
			<ol class="breadcrumb">
		    	<li class="breadcrumb-item"><a th:href="@{/admin}">Dashboard</a></li>
		    	<li class="breadcrumb-item"><a th:href="@{/categorias}">Categorias</a></li>
		    	<li class="breadcrumb-item active" aria-current="page">Novo</li>
			</ol>
		</div>
		
		<form method="POST" class="input-form" th:object="${categoria}" th:action="@{/categorias}">	

			<input type="hidden" th:field="*{codigo}" />	
			
			<!-- error -->
			<th:block th:include="messages/ErrorMessage"></th:block>
			
			<!-- success -->
			<th:block th:include="messages/SuccessMessage"></th:block>
			
			<div class="row">
				<div class="form-group col-sm-12">
					<label class="form-control-label" for="nome"><span class="text-danger">*</span>Nome</label>
					<input type="text" th:field="*{nome}" class="form-control" id="nome" th:errorclass="is-invalid" autocomplete="off">
				</div>
			</div>		
			
			<hr />
			
			<div class="row mb-3">
				<div class="col-sm-12 text-right">
					<a th:href="@{/}" class="btn btn-danger"><i class="fas fa-ban"></i> Cancelar</a>
					<button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Salvar</button>
				</div>
			</div>
		</form>
	</section>
</body>
</html>