<!DOCTYPE html>
<html 
	lang="pt-br"
	xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="'Index'">
    
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>PDV - PONTO DE VENDA</title>
</head>

<body>
	<div class="container" layout:fragment="conteudo">
		<h1 class="text-center">Dashboard</h1>
		
		<span class="text-dark m-0 p-0">INFORMAÇÕES GERAIS</span>
		<hr class="bg-ligt m-0 p-0" />

		<div class="row">
			<div class="card bg-dark col-sm-12 col-md-4 p-3 text-center" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_CLIENTE')}">
				<h1 class="text-white">[[${clientes}]]</h1>
				<h5 class="text-white">Clientes</h5>
			</div>
			
			<div class="card bg-dark col-sm-12 col-md-4 p-3 text-center" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_PRODUTO')}">
				<h1 class="text-white">[[${produtos}]]</h1>
				<h5 class="text-white">Produtos</h5>
			</div>
			
			<div class="card bg-dark col-sm-12 col-md-4 p-3 text-center" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">
				<h1 class="text-white">[[${vendas}]]</h1>
				<h5 class="text-white">Vendas</h5>
			</div>
		</div>
		
		<div class="row">
			<div class="card bg-dark col-sm-12 col-md-4 p-3 text-center" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_USUARIO')}">
				<h1 class="text-white">[[${usuarios}]]</h1>
				<h5 class="text-white">Usuários</h5>
			</div>
			
			<div class="card bg-dark col-sm-12 col-md-4 p-3 text-center" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_FUNCIONARIO')}">
				<h1 class="text-white">[[${funcionarios}]]</h1>
				<h5 class="text-white">Funcionários</h5>
			</div>
			
			<div class="card bg-dark col-sm-12 col-md-4 p-3 text-center" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_FORNECEDOR')}">
				<h1 class="text-white">[[${fornecedores}]]</h1>
				<h5 class="text-white">Fornecedores</h5>
			</div>
		</div>
		
		<span class="text-dark m-0 p-0">VENDAS</span>
		<hr class="bg-ligt m-0 p-0" />
		
		<div class="row" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">
			<div class="card bg-dark col-sm-12 col-md-4 p-3 text-center">
				<h1 class="text-white">R$ [[${{valorVendasAno}}]]</h1>
				<h5 class="text-white">Valor total das vendas no ano</h5>
			</div>
			
			<div class="card bg-dark col-sm-12 col-md-4 p-3 text-center">
				<h1 class="text-white">R$ [[${{valorVendasMes}}]]</h1>
				<h5 class="text-white">Valor total das vendas mês</h5>
			</div>
			
			<div class="card bg-dark col-sm-12 col-md-4 p-3 text-center">
				<h1 class="text-white">R$ [[${{valorVendasDia}}]]</h1>
				<h5 class="text-white">Valor total das vendas no dia</h5>
			</div>
		</div>
		<span class="text-dark m-0 p-0">GRÁFICOS</span>
		<hr class="bg-ligt m-0 p-0" />
		
		<div class="row" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">
			<div class="col-sm-4">
				<canvas id="totalVendasDia" width="100%" height="100%"></canvas>
			</div>
			
			<div class="col-sm-4">
				<canvas id="totalVendasMes" width="100%" height="100%"></canvas>
			</div>
			
			<div class="col-sm-4">
				<canvas id="totalVendasAno" width="100%" height="100%"></canvas>
			</div>
		</div>
	</div>
	
  	<!-- JavaScript -->
  	<th:block layout:fragment="javascripts">
  	<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
  	<script th:src="@{/js/pdv.graficos-venda.js}"></script>
  	</th:block>
  	
  	<script>
	$(document).ready(function(){
	  $('[data-toggle="tooltip"]').tooltip();
	});
	</script>
</body>
</html>