<!DOCTYPE html>
<html 
	lang="pt-br"
	xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="'Index'">
    
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>PDV - PONTO DE VENDA</title>
</head>

<body>
	<div class="container" layout:fragment="conteudo">
		<h1 class="text-center">Dashboard</h1>
		<!--<div class="alert alert-secondary text-center pb-2" th:text="|Sua versão de teste expira em ${diasRestantes} dias.|"></div>-->
		
		<span class="text-dark m-0 p-0">INFORMAÇÕES GERAIS</span>
		<hr class="bg-ligt m-0 p-0" />

		<div class="row">
			<div class="card bg-dark col-sm-12 col-md-4 p-3 text-center" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_CLIENTE')}">
				<h1 class="text-white">[[${clientes}]]</h1>
				<h5 class="text-white">Clientes</h5>
			</div>
			
			<div class="card bg-dark col-sm-12 col-md-4 p-3 text-center" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_PRODUTO')}">
				<h1 class="text-white">[[${produtos}]]</h1>
				<h5 class="text-white">Produtos</h5>
			</div>
			
			<div class="card bg-dark col-sm-12 col-md-4 p-3 text-center" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">
				<h1 class="text-white">[[${vendas}]]</h1>
				<h5 class="text-white">Vendas</h5>
			</div>
		<!--</div>
		
		<div class="row">-->
			<div class="card bg-dark col-sm-12 col-md-4 p-3 text-center" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_USUARIO')}">
				<h1 class="text-white">[[${usuarios}]]</h1>
				<h5 class="text-white">Usuários</h5>
			</div>
			
			<div class="card bg-dark col-sm-12 col-md-4 p-3 text-center" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_FUNCIONARIO')}">
				<h1 class="text-white">[[${funcionarios}]]</h1>
				<h5 class="text-white">Funcionários</h5>
			</div>
			
			<div class="card bg-dark col-sm-12 col-md-4 p-3 text-center" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_FORNECEDOR')}">
				<h1 class="text-white">[[${fornecedores}]]</h1>
				<h5 class="text-white">Fornecedores</h5>
			</div>
		</div>
		
		<span class="text-dark m-0 p-0" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">FLUXO DE CAIXA (HOJE)</span>
		<hr class="bg-ligt m-0 p-0" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}" />
		
		<div class="row" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">
			<div class="card bg-success col-sm-12 col-md-4 p-3 text-center">
				<h1 class="text-white">R$ [[${{valorTotalCaixa}}]]</h1>
				<h5 class="text-white">Total em caixa (hoje)</h5>
			</div>
			
			<div class="card bg-danger col-sm-12 col-md-4 p-3 text-center">
				<h1 class="text-white">R$ -[[${{valorTotalDespesas}}]]</h1>
				<h5 class="text-white">Total das despesas (hoje)</h5>
			</div>
			
			<div class="card bg-info col-sm-12 col-md-4 p-3 text-center">
				<h1 class="text-white">R$ [[${{valorTotalSaldo}}]]</h1>
				<h5 class="text-white">Saldo total (hoje)</h5>
			</div>
		</div>
		
		<span class="text-dark m-0 p-0" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">VENDAS À VISTA</span>
		<hr class="bg-ligt m-0 p-0" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}" />
		
		<div class="row" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">
			<div class="card bg-dark col-sm-12 col-md-4 p-3 text-center">
				<h1 class="text-white">R$ [[${{valorVendasAno}}]]</h1>
				<h5 class="text-white">Valor total das vendas no ano</h5>
			</div>
			
			<div class="card bg-dark col-sm-12 col-md-4 p-3 text-center">
				<h1 class="text-white">R$ [[${{valorVendasMes}}]]</h1>
				<h5 class="text-white">Valor total das vendas mês</h5>
			</div>
			
			<div class="card bg-dark col-sm-12 col-md-4 p-3 text-center">
				<h1 class="text-white">R$ [[${{valorVendasDia}}]]</h1>
				<h5 class="text-white">Valor total das vendas no dia</h5>
			</div>
		</div>
		
		<span class="text-dark m-0 p-0" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">VENDAS À PRAZO</span>
		<hr class="bg-ligt m-0 p-0" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}" />
		
		<div class="row" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">
			<div class="card bg-dark col-sm-12 col-md-4 p-3 text-center">
				<h1 class="text-white">R$ [[${{valorVendasAnoCrediario}}]]</h1>
				<h5 class="text-white">Valor total das vendas no ano</h5>
			</div>
			
			<div class="card bg-dark col-sm-12 col-md-4 p-3 text-center">
				<h1 class="text-white">R$ [[${{valorVendasMesCrediario}}]]</h1>
				<h5 class="text-white">Valor total das vendas mês</h5>
			</div>
			
			<div class="card bg-dark col-sm-12 col-md-4 p-3 text-center">
				<h1 class="text-white">R$  [[${{valorVendasDiaCrediario}}]]</h1>
				<h5 class="text-white">Valor total das vendas no dia</h5>
			</div>
		</div>
		
		<!-- CREDITO -->
		<span class="text-dark m-0 p-0" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">VENDAS NO CRÉDITO</span>
		<hr class="bg-ligt m-0 p-0" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}" />
		
		<div class="row" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">
			<div class="card bg-dark col-sm-12 col-md-4 p-3 text-center">
				<h1 class="text-white">R$ [[${{valorVendasAnoCredito}}]]</h1>
				<h5 class="text-white">Valor total das vendas no crétito no ano</h5>
			</div>
			
			<div class="card bg-dark col-sm-12 col-md-4 p-3 text-center">
				<h1 class="text-white">R$ [[${{valorVendasMesCredito}}]]</h1>
				<h5 class="text-white">Valor total das vendas no crédito no mês</h5>
			</div>
			
			<div class="card bg-dark col-sm-12 col-md-4 p-3 text-center">
				<h1 class="text-white">R$  [[${{valorVendasDiaCredito}}]]</h1>
				<h5 class="text-white">Valor total das vendas no crédito no dia</h5>
			</div>
		</div>
		
		<!-- DEBITO -->
		<span class="text-dark m-0 p-0" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">VENDAS NO DÉBITO</span>
		<hr class="bg-ligt m-0 p-0" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}" />
		
		<div class="row" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">
			<div class="card bg-dark col-sm-12 col-md-4 p-3 text-center">
				<h1 class="text-white">R$ [[${{valorVendasAnoDebito}}]]</h1>
				<h5 class="text-white">Valor total das vendas no débito no ano</h5>
			</div>
			
			<div class="card bg-dark col-sm-12 col-md-4 p-3 text-center">
				<h1 class="text-white">R$ [[${{valorVendasMesDebito}}]]</h1>
				<h5 class="text-white">Valor total das vendas no débito no mês</h5>
			</div>
			
			<div class="card bg-dark col-sm-12 col-md-4 p-3 text-center">
				<h1 class="text-white">R$  [[${{valorVendasDiaDebito}}]]</h1>
				<h5 class="text-white">Valor total das vendas no débito no dia</h5>
			</div>
		</div>
		
		<span class="text-dark m-0 p-0" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">TODAS AS VENDAS</span>
		<hr class="bg-ligt m-0 p-0" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}" />
		
		<div class="row" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">
			<div class="card bg-dark col-sm-12 col-md-4 p-3 text-center">
				<h1 class="text-white">R$ [[${{valorVendasAnoGeral}}]]</h1>
				<h5 class="text-white">Valor total das vendas no ano</h5>
			</div>
			
			<div class="card bg-dark col-sm-12 col-md-4 p-3 text-center">
				<h1 class="text-white">R$ [[${{valorVendasMesGeral}}]]</h1>
				<h5 class="text-white">Valor total das vendas mês</h5>
			</div>
			
			<div class="card bg-dark col-sm-12 col-md-4 p-3 text-center">
				<h1 class="text-white">R$  [[${{valorVendasDiaGeral}}]]</h1>
				<h5 class="text-white">Valor total das vendas no dia</h5>
			</div>
		</div>
		
		<div class="row mt-1 justify-content-center" style="z-index: 9999; display: flex;" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">
			<div class="btn-group col-sm-12">				
				<button id="line" class="btn" disabled="disabled">
					<i class="fas fa-chart-line"></i> Por dia
				</button>
				
				<button id="bar" class="btn" disabled="disabled">
					<i class="fas fa-chart-bar"></i> Por mês
				</button>
				
				<button id="pie" class="btn" disabled="disabled">
					<i class="fas fa-chart-pie"></i> Por ano
				</button>
			</div>
		</div>
		
		<span class="text-dark m-0 p-0" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">GRÁFICOS - VENDA À VISTA</span>
		<hr class="bg-ligt m-0 p-0" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}" />
		
		<div class="row" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">
			<div class="col-sm-4">
				<canvas id="totalVendasDia" width="100%" height="100px"></canvas>
			</div>
			
			<div class="col-sm-4">
				<canvas id="totalVendasMes" width="100%" height="100px"></canvas>
			</div>
			
			<div class="col-sm-4">
				<canvas id="totalVendasAno" width="100%" height="100px"></canvas>
			</div>
		</div>
		
		<span class="text-dark m-0 p-0" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">GRÁFICOS - VENDA À PRAZO</span>
		<hr class="bg-ligt m-0 p-0" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}" />
		
		<div class="row" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">
			<div class="col-sm-4">
				<canvas id="totalVendasDiaCrediario" width="100%" height="100px"></canvas>
			</div>
			
			<div class="col-sm-4">
				<canvas id="totalVendasMesCrediario" width="100%" height="100px"></canvas>
			</div>
			
			<div class="col-sm-4">
				<canvas id="totalVendasAnoCrediario" width="100%" height="100px"></canvas>
			</div>
		</div>
		
		<!-- 
		<span class="text-dark m-0 p-0" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">GRÁFICOS - VENDA NO CRÉDITO</span>
		<hr class="bg-ligt m-0 p-0" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}" />
		
		<div class="row" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">
			<div class="col-sm-4">
				<canvas id="totalVendasDiaCredito" width="100%" height="100px"></canvas>
			</div>
			
			<div class="col-sm-4">
				<canvas id="totalVendasMesCredito" width="100%" height="100px"></canvas>
			</div>
			
			<div class="col-sm-4">
				<canvas id="totalVendasAnoCredito" width="100%" height="100px"></canvas>
			</div>
		</div>
		
		<span class="text-dark m-0 p-0" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">GRÁFICOS - VENDA NO DÉBITO</span>
		<hr class="bg-ligt m-0 p-0" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}" />
		
		<div class="row" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">
			<div class="col-sm-4">
				<canvas id="totalVendasDiaDebito" width="100%" height="100px"></canvas>
			</div>
			
			<div class="col-sm-4">
				<canvas id="totalVendasMesDebito" width="100%" height="100px"></canvas>
			</div>
			
			<div class="col-sm-4">
				<canvas id="totalVendasAnoDebito" width="100%" height="100px"></canvas>
			</div>
		</div>
		-->
		
		<span class="text-dark m-0 p-0" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">GRÁFICOS - TOTDAS AS VENDAS</span>
		<hr class="bg-ligt m-0 p-0" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}" />
		
		<div class="row" th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">
			<div class="col-sm-4">
				<canvas id="totalVendasDiaGeral" width="100%" height="100px"></canvas>
			</div>
			
			<div class="col-sm-4">
				<canvas id="totalVendasMesGeral" width="100%" height="100px"></canvas>
			</div>
			
			<div class="col-sm-4">
				<canvas id="totalVendasAnoGeral" width="100%" height="100px"></canvas>
			</div>
		</div>
	</div>
	
  	<!-- JavaScript -->
  	<th:block layout:fragment="javascripts">
  	<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
  	<script th:src="@{/js/pdv.graficos-venda.js}"></script>
  	</th:block>
  	
  	<script>
	$(document).ready(function(){
	  $('[data-toggle="tooltip"]').tooltip();
	});
	</script>
</body>
</html>