<!DOCTYPE html>
<html 
	lang="pt-br"
	xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:data="http://www.thymeleaf.org/extras/data"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="'Index'">
    
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>PDV - PONTO DE VENDA</title>
</head>

<body>
	<div class="container" layout:fragment="conteudo">
		<h1 class="text-center">Pesquisar contas a receber</h1>
		
		<!-- Breadcrumb -->
		<div aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/admin}">Dashboard</a></li>
				<li class="breadcrumb-item active" aria-current="page">ContasReceber</li>
				<li class="breadcrumb-item"><a th:href="@{/contasreceber/novo}">Novo</a></li>
			</ol>
		</div>
		
		<!-- Filtros -->
		<form class="row" method="GET" th:object="${contaReceberFilter}" th:action="@{/contasreceber}">
			<!-- busca -->	
			<div class="col-sm-8"></div>	
					
			<div class="col-sm-4">
				<div class="input-group mb-3">						 
					<input id="cliente" th:field="*{cliente}" type="text" class="form-control" placeholder="Pesquisar por cliente...">
					 
					<div class="input-group-append">
						<button id="btnBuscar" class="btn btn-primary" type="submit">
							<i class="fas fa-search"></i>
						</button> 
					</div>
				</div>
			</div>
		</form>
		
		<!-- Table -->
		<div class="row">
			<div class="col-sm-12 table-responsive">
				<table class="table table-hover thead-light table-bordered">
					<thead>
						<tr>
							<th style="width: 10%;">Código <i class="fas fa-angle-down"></i></th>
							<th style="width: 25%;">Cliente <i class="fas fa-angle-down"></i></th>
							<th style="width: 20%;" class="text-center">Total da venda <i class="fas fa-angle-down"></i></th>
							<th style="width: 15%;" class="text-center">Total recebido <i class="fas fa-angle-down"></i></th>
							<th style="width: 15%;" class="text-center">Restante <i class="fas fa-angle-down"></i></th>
							<th style="width: 15%;" colspan="3" class="text-center">Ações <i class="fas fa-angle-down"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="contareceber : ${pagina.content}">
							<td class="text-center" th:text="${contareceber.codigo}"></td>
							<td th:text="${contareceber.cliente.nome}"></td>
							<td class="text-center">[[${{contareceber.totalVenda}}]]</td>
							<td class="text-center">[[${{contareceber.totalRecebido}}]]</td>
							<td class="text-center">
								<span>[[${{contareceber.restante}}]]</span>
								<span th:class="${contareceber.status.descricao == 'DEVENDO'} ? 'badge badge-danger pl-1' : 'badge badge-success pl-1'">[[${contareceber.status}]]</span>
							</td>
							
							<td class="text-center">
								<div th:class="${contareceber.status.descricao == 'PAGO'} ? 'd-none' : 'd-block'">
									<a href="javascript:;" class="contaReceberBtn" data:codigo-receber="${contareceber.codigo}" data-toggle="tooltip" title="LANÇAR RECEBIMENTO" data-position="top">
										<i class="fas fa-dollar-sign"></i>
									</a>
								</div>
							</td>
							<td class="text-center">
								<div th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">
									<div th:class="${contareceber.status.descricao == 'PAGO'} ? 'd-none' : 'd-block'">
										<a th:href="@{|/contasreceber/${contareceber.codigo}|}" data-toggle="tooltip" title="EDITAR" data-position="top">
											<i class="fas fa-pencil-alt"></i>
										</a>
									</div>
								</div>
							</td>
							<td class="text-center" data-toggle="tooltip" title="EXCLUIR" data-position="top"> 
								<div th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">
									<div th:class="${contareceber.status.descricao == 'PAGO'} ? 'd-none' : 'd-block'">
										<a href="javascript:;" class="js-btn-excluir" th:url="@{|/contasreceber/${contareceber.codigo}|}">
											<i class="fas fa-trash-alt text-danger"></i>
										</a>
									</div>
								</div>
							</td>
						</tr>
						
						<tr th:if="${#lists.isEmpty(pagina.content)}"> 
							<td colspan="6" class="text-center">Nenhuma informação encontrado!</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<!-- Paginação -->
			<div class="col-sm-12" th:if="${not #lists.isEmpty(pagina.content)}">
				<nav>
				  <ul class="pagination pagination-sm justify-content-center" th:with="paginaAtual=${pagina.number}">
				    <li th:class="${pagina.first} ? 'page-item disabled'" class="page-item">
				    	<a class="page-link" th:href="|?page=${paginaAtual - 1}|">
				    		<i class="fas fa-chevron-left"></i>
				    	</a>
				    </li>
				    
				    <th:block th:each="p : ${#numbers.sequence(1, pagina.totalPages)}" th:with="numeroPagina=${p - 1}">
					    <li class="page-item" th:class="${paginaAtual == numeroPagina} ? 'page-item active'">
					    	<a class="page-link" th:href="|?page=${numeroPagina}|">[[${p}]]</a>
					    </li>
				    </th:block>
				    
				    <li class="page-item" th:class="${pagina.last} ? 'page-item disabled'">
				    	<a class="page-link" th:href="|?page=${paginaAtual + 1}|">
				    		<i class="fas fa-chevron-right"></i>
				    	</a>
				    </li>
				  </ul>			
				</nav>
			</div>
		</div>
	</div>
	
  	<!-- JavaScript -->
  	<th:block layout:fragment="javascripts">
  	<script th:src="@{vendor/sweetalert/sweetalert.min.js}"></script>
  	<script th:src="@{js/pdv.dialogo-excluir.js}"></script>
  	<script th:src="@{js/pdv.conta-receber.js}"></script>
  	</th:block>
  	
  	<script>
	$(document).ready(function(){
	  $('[data-toggle="tooltip"]').tooltip();
	});
	</script>
</body>
</html>