<!DOCTYPE html>
<html 
	lang="pt-br"
	xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:data="http://www.thymeleaf.org/extras/data"
    layout:decorator="'Index'"
    th:with="currentPage='CadastrarContaPagar'">
    
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>PDV - PONTO DE VENDA</title>
</head>

<body>
	<section class="container" layout:fragment="conteudo">

		<h1 class="text-center" th:if="${contaPagar.novo}">Cadastrar Conatas a Pagar</h1>
		<h1 class="text-center" th:unless="${contaPagar.novo}" th:text="|Edição de ${contaPagar.fornecedor.nome}|">Editar Contas a Pagar</h1>
		
		<hr />

		<div aria-label="breadcrumb">
			<ol class="breadcrumb">
		    	<li class="breadcrumb-item"><a th:href="@{/admin}">Dashboard</a></li>
		    	<li class="breadcrumb-item"><a th:href="@{/contaspagar}">Contas a Pagar</a></li>
		    	<li class="breadcrumb-item active" aria-current="page">Novo</li>
			</ol>
		</div>
		
		<form method="POST" class="input-form" th:object="${contaPagar}" th:action="@{/contaspagar}">	

			<input type="hidden" th:field="*{codigo}" />	
			
			<!-- error -->
			<th:block th:include="messages/ErrorMessage"></th:block>
			
			<!-- success -->
			<th:block th:include="messages/SuccessMessage"></th:block>

			<div class="row">
				<div class="form-group col-sm-6">
					<label class="form-control-label" for="estado"><span class="text-danger">*</span>Fornecedor</label>
					
					<select th:field="*{fornecedor}" class="form-control" id="fornecedor" th:errorclass="is-invalid">
						<option value="">Selecione o fornecedor</option>
						<option th:each="fornecedor : ${fornecedores}" th:value="${fornecedor.codigo}" th:text="${fornecedor.nome}"></option>
					</select>
				</div>
				
				<div class="form-group date col-sm-3">
					<label class="form-control-label" for="dataCompra">Data da compra</label>
					<input readonly type="text" th:field="*{dataCompra}" class="form-control datepicker" data-date-format="dd/mm/yyyy" id="dataCompra" th:errorclass="is-invalid" autocomplete="off">
				</div>
				
				<div class="form-group date col-sm-3">
					<label class="form-control-label" for="dataVencimento">Data de vencimento</label>
					<input type="text" th:field="*{dataVencimento}" class="form-control datepicker" data-date-format="dd/mm/yyyy" id="dataVencimento" th:errorclass="is-invalid" autocomplete="off">
				</div>
			</div>

			<div class="row">
				<div class="form-group col-sm-3">
					<label class="form-control-label" for="totalCompra"><span class="text-danger">*</span>Total da compra</label>
					<input type="text" th:field="*{totalCompra}" class="form-control moeda-formato" id="totalCompra" th:errorclass="is-invalid" autocomplete="off">
				</div>

				<div class="form-group col-sm-3">
					<label class="form-control-label" for="status"><span class="text-danger">*</span>Status</label>
					
					<select th:field="*{status}" class="form-control" id="status" th:errorclass="is-invalid">
						<option value="">Selecione o status</option>
						<option th:each="status : ${status}" th:value="${status}" th:text="${status.descricao}"></option>
					</select>
				</div>
			</div>	
			
			<hr />
			
			<div class="row mb-3">
				<div class="col-sm-12 text-right">
					<a th:href="@{/}" class="btn btn-danger"><i class="fas fa-ban"></i> Cancelar</a>
					<button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Salvar</button>
				</div>
			</div>
		</form>
	</section>
	
	<!-- JavaScript -->
  	<th:block layout:fragment="javascripts">
  	<script th:src="@{/vendor/mask/jquery-maskmoney.js}"></script>
  	<script th:src="@{/vendor/mask/jquery.mask.min.js}"></script>
  	<script th:src="@{/js/pdv.mascaras-campos.js}"></script>
  	</th:block>
</body>
</html>