<!DOCTYPE html>
<html 
	lang="pt-br"
	xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:data="http://www.thymeleaf.org/extras/data"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="'Index'"
    th:with="currentPage='PesquisarContaPagar'">
    
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>PDV - PONTO DE VENDA</title>
</head>

<body>
	<div class="container" layout:fragment="conteudo">
		<h1 class="text-center">Pesquisar contas a pagar</h1>
		
		<div aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/admin}">Dashboard</a></li>
				<li class="breadcrumb-item active" aria-current="page">ContasPagar</li>
				<li class="breadcrumb-item"><a th:href="@{/contaspagar/novo}">Novo</a></li>
			</ol>
		</div>
		
		<form method="GET" th:object="${contaPagarFilter}" th:action="@{/contaspagar}">
			<div class="row">
				<div class="col-sm-7"></div>	
						
				<div class="form-group col-sm-5">
					<label for="cliente" class="form-control-label">Selecione o fornecedor</label>

					<div class="input-group mb-3">						 					
						<select th:field="*{fornecedor}" id="fornecedor" class="form-control">
							<option value="">TODOS</option>
							<option th:each="fornecedor : ${fornecedores}" th:value="${fornecedor.codigo}" th:text="|${fornecedor.codigo}. ${fornecedor.nome}|"></option>
						</select>
						 
						<div class="input-group-append">
							<button id="btnBuscar" class="btn btn-primary" type="submit">
								<i class="fas fa-search"></i>
							</button> 
						</div>
					</div>
				</div>
			</div>
		</form>
		
		<!-- Table -->
		<div class="row">
			<div class="col-sm-12 table-responsive">
				<table class="table table-hover thead-light table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th style="width: 10%;">Código <i class="fas fa-angle-down"></i></th>
							<th style="width: 25%;">Fornecedor <i class="fas fa-angle-down"></i></th>
							<th style="width: 20%;" class="text-center">Total da compra <i class="fas fa-angle-down"></i></th>
							<th style="width: 15%;" class="text-center">Total pago <i class="fas fa-angle-down"></i></th>
							<th style="width: 15%;" class="text-center">Restante <i class="fas fa-angle-down"></i></th>
							<th style="width: 15%;" colspan="3" class="text-center">Ações <i class="fas fa-angle-down"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="contapagar : ${pagina.content}">
							<td class="text-center" th:text="${contapagar.codigo}"></td>
							<td th:text="${contapagar.fornecedor.nome}"></td>
							<td class="text-center">[[${{contapagar.totalCompra}}]]</td>
							<td class="text-center">[[${{contapagar.totalPago}}]]</td>
							<td class="text-center">
								<span>[[${{contapagar.restante}}]]</span>
								<span th:class="${contapagar.status.descricao == 'DEVENDO'} ? 'badge badge-danger pl-1' : 'badge badge-success pl-1'">[[${contapagar.status}]]</span>
							</td>
							
							<td class="text-center">
								<div th:class="${contapagar.status.descricao == 'PAGO'} ? 'd-none' : 'd-block'">
									<a href="javascript:;" class="lancamento-btn" data:codigo-pagar="${contapagar.codigo}" data-toggle="tooltip" title="LANÇAR PAGAMENTO" data-position="top">
										<i class="fas fa-dollar-sign"></i>
									</a>
								</div>
							</td>
							<td class="text-center">
								<div th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">
									<div th:class="${contapagar.status.descricao == 'PAGO'} ? 'd-none' : 'd-block'">
										<a th:href="@{|/contaspagar/${contapagar.codigo}|}" data-toggle="tooltip" title="EDITAR" data-position="top">
											<i class="fas fa-pencil-alt"></i>
										</a>
									</div>
								</div>
							</td>
							<td class="text-center" data-toggle="tooltip" title="EXCLUIR" data-position="top"> 
								<div th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">
									<div th:class="${contapagar.status.descricao == 'PAGO'} ? 'd-none' : 'd-block'">
										<a href="javascript:;" class="js-btn-excluir" th:url="@{|/contaspagar/${contapagar.codigo}|}">
											<i class="fas fa-trash-alt text-danger"></i>
										</a>
									</div>
								</div>
							</td>
						</tr>
						
						<tr th:if="${#lists.isEmpty(pagina.content)}"> 
							<td colspan="6" class="text-center">Nenhuma informação encontrado!</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<th:block th:include="componentes/paginacao"></th:block>
		</div>
	</div>
	
  	<!-- JavaScript -->
  	<th:block layout:fragment="javascripts">
  	<script th:src="@{vendor/sweetalert/sweetalert.min.js}"></script>
  	<script th:src="@{js/pdv.dialogo-excluir.js}"></script>
  	<script th:src="@{js/pdv.conta-pagar.js}"></script>
  	</th:block>
  	
  	<script>
	$(document).ready(function(){
	  $('[data-toggle="tooltip"]').tooltip();
	});
	</script>
</body>
</html>