<!DOCTYPE html>
<html 
	lang="pt-br"
	xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="'Index'">
    
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>PDV - PONTO DE VENDA</title>
</head>

<body>
	<div class="container" layout:fragment="conteudo">
		<h1 class="text-center">Pesquisar Venda</h1>

		<div aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/admin}">Dashboard</a></li>
				<li class="breadcrumb-item active" aria-current="page">Vendas</li>
				<li class="breadcrumb-item"><a th:href="@{/vendas/novo}">Novo</a></li>
			</ol>
		</div>

		<form class="row" method="GET" th:object="${vendaFilter}" th:action="@{/vendas}">
			<div class="form-group col-sm-2">
				<label for="status" class="form-control-label">Status</label>
				
				<select th:field="*{status}" id="status" class="form-control">
					<option value="">TODOS</option>
					<option th:each="status : ${status}" th:value="${status}" th:text="${status.descricao}"></option>
				</select>
			</div>
			
			<div class="form-group col-sm-2">
				<label for="formaPagamento" class="form-control-label">F. Pgto</label>
				
				<select th:field="*{formaPagamento}" id="formaPagamento" class="form-control">
					<option value="">TODAS</option>
					<option th:each="formaPagamento : ${formasPagamento}" th:value="${formaPagamento}" th:text="${formaPagamento.formaPagamento}"></option>
				</select>
			</div>
			
			<div class="form-group col-sm-4">
				<label for="cliente" class="form-control-label">Cliente</label>
				
				<select th:field="*{codigoCliente}" id="cliente" class="form-control">
					<option value="">TODOS</option>
					<option th:each="cliente : ${clientes}" th:value="${cliente.codigo}" th:text="|${cliente.codigo}. ${cliente.nome}|"></option>
				</select>
			</div>

			<div class="form-group col-sm-2 date">
				<label for="dataInicio" class="form-control-label">Data Início</label>
				
				<input th:field="*{dataInicio}" placeholder="Data Início" data-date-format="dd/mm/yyyy" type="text" class="form-control datepicker" id="dataInicio" autocomplete="off">
			</div>

			<div class="form-group col-sm-2 date">	
				<label for="dataFim" class="form-control-label">Data Fim</label>
				
				<input th:field="*{dataFim}" placeholder="Data Fim" data-date-format="dd/mm/yyyy" type="text" class="form-control datepicker" id="dataFim" autocomplete="off">
			</div>
			
			<hr />
			
			<div class="col-sm-12 mb-2 text-right">	
				<button id="buttonGerarExcel" class="btn btn-success" type="submit"><i class="fas fa-file-excel"></i> Exportar</button>			
				<button class="btn btn-primary" type="submit"><i class="fas fa-filter"></i> Pesquisar</button>
			</div>
		</form>

		<div class="row">
			<div class="col-sm-12 table-responsive">
				<table class="table table-hover thead-light table-bordered table-striped">
					<thead class="thead-dark">
						<tr style="font-size: 12px;">
							<th style="width: 10%;">Nº/Código <i class="fas fa-angle-down"></i></th>
							<th style="width: 12%;" class="text-center">Dat. venda<i class="fas fa-angle-down"></i></th>
							<th style="width: 15%;">Cliente <i class="fas fa-angle-down"></i></th>
							<th style="width: 10%;" class="text-center">F. pgto <i class="fas fa-angle-down"></i></th>
							<th style="width: 8%;" class="text-center">Status <i class="fas fa-angle-down"></i></th>
							<th style="width: 10%;" class="text-center">Valor Total <i class="fas fa-angle-down"></i></th>
							<th style="width: 11%;" class="text-center">Desconto <i class="fas fa-angle-down"></i></th>
							<th style="width: 12%;" class="text-center">Sub Total <i class="fas fa-angle-down"></i></th>
							<th style="width: 12%;" class="text-center" colspan="2">Ações <i class="fas fa-angle-down"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="venda : ${pagina.content}" style="font-size: 12px;">
							<td class="text-center">
								<span class="badge badge-info p-1" th:text="|${vendaStat.count}º|"></span>
								/ 
								<span th:text="${venda.codigo}"></span>
							</td>
							<td class="text-center">[[${{venda.dataCriacao}}]]</td>
							<td th:text="${venda.cliente.nome}"></td>
							<td class="text-center" th:text="${venda.formaPagamento}"></td>
							<td class="text-center">
								<span th:text="${venda.status.descricao}" th:if="${venda.status.descricao == 'ORÇAMENTO'}"
									th:class="${venda.status.descricao == 'ORÇAMENTO'} ? 'badge badge-warning p-2' : ''">
								</span>
								
								<span th:text="${venda.status.descricao}" th:if="${venda.status.descricao == 'EMITIDA'}"
									th:class="${venda.status.descricao == 'EMITIDA'} ? 'badge badge-success p-2' : ''">
								</span>
								
								<span th:text="${venda.status.descricao}" th:if="${venda.status.descricao == 'CREDIÁRIO'}"
									th:class="${venda.status.descricao == 'CREDIÁRIO'} ? 'badge badge-primary p-2' : ''">
								</span>
								
								<span th:text="${venda.status.descricao}" th:if="${venda.status.descricao == 'CANCELADA'}"
									th:class="${venda.status.descricao == 'CANCELADA'} ? 'badge badge-danger p-2' : ''">
								</span>
							</td>
							<td class="text-center text-info"><b>R$ [[${{venda.subTotal}}]]</b></td>
							<td class="text-center text-danger"><b>-R$ [[${{venda.valorDesconto}}]]</b></td>
							<td class="text-center text-success"><b>R$ [[${{venda.valorTotal}}]]</b></td>
							
							<td class="text-center">
								<div th:class="${venda.status.descricao == 'CANCELADA'} ? 'd-none' : 'd-block'">
									<a th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}" th:href="|/vendas/cancelar/${venda.codigo}|" data-toggle="tooltip" title="CANCELAR" data-position="top">
										<i class="fas fa-ban text-danger"></i>
									</a>
								</div>
							</td>
							
							<td class="text-center" data-toggle="tooltip" title="ITENS DA VENDA" data-position="top"> 
								<div th:class="${venda.status.descricao == 'CANCELADA'} ? 'd-none' : 'd-block'">
									<a th:href="@{|/itensvendas/${venda.codigo}|}">
										<i class="fas fa-boxes"></i>
									</a>
								</div>
							</td>
						</tr>
						
						<tr th:if="${not #lists.isEmpty(pagina.content)}">
							<td colspan="10" class="text-right"><strong>[[${#numbers.formatCurrency(#aggregates.sum(vendas.![valorTotal]))}]]</strong></td>
						</tr>
						
						<tr th:if="${#lists.isEmpty(pagina.content)}"> 
							<td colspan="10" class="text-center">Nenhuma informação encontrado!</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<th:block th:include="componentes/paginacao"></th:block>
		</div>
	</div>
	
	<!-- JavaScript -->
  	<th:block layout:fragment="javascripts">
  	<!--<script th:src="@{/vendor/mask/jquery-maskmoney.js}"></script>
  	<script th:src="@{/vendor/mask/jquery.mask.min.js}"></script>-->
  	<script th:src="@{/js/pdv.mascaras-campos.js}"></script>
  	<script th:src="@{vendor/sweetalert/sweetalert.min.js}"></script>
  	<script th:src="@{js/pdv.dialogo-excluir.js}"></script>
  	<script th:src="@{js/jquery.table2excel.js}"></script>
  	<script th:src="@{js/pdv.gerar-excel.js}"></script>
  	</th:block>
  	
  	<script>
	$(document).ready(function(){
	  $('[data-toggle="tooltip"]').tooltip();
	});
	</script>
</body>
</html>