<!DOCTYPE html>
<html 
	lang="pt-br"
	xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="'Index'"
    th:with="currentPage='PesquisarProduto'">
    
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>PDV - PONTO DE VENDA</title>
</head>

<body>
	<div class="container" layout:fragment="conteudo">
		<h1 class="text-center">Pesquisar Produto</h1>

		<div aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/admin}">Dashboard</a></li>
				<li class="breadcrumb-item active" aria-current="page">Produtos</li>
				<li class="breadcrumb-item"><a th:href="@{/produtos/novo}">Novo</a></li>
				<li class="breadcrumb-item"><a th:href="@{/produtos/entrada}">Entrada</a></li>
			</ol>
		</div>
		
		<form class="row text-right mb-2" method="GET" th:object="${produtoFilter}" th:action="@{/produtos}">		
			<div class="col-sm-5">
				<div class="form-group">					 
					<input id="codigoBarras" th:field="*{codigoBarras}" type="text" class="form-control" placeholder="Codigo de barras...">
				</div>
			</div>
					
			<div class="col-sm-5">
				<div class="form-group">						 
					<input id="nome" th:field="*{nome}" type="text" class="form-control" placeholder="Pesquisar por nome...">
				</div>
			</div>
			
			<div class="form-group col-sm-2">
				<button class="btn btn-primary btn-block">Pesquisar</button>
			</div>
		</form>

		<div class="row">
			<div class="col-sm-12 table-responsive">
				<table class="table table-hover thead-light table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th style="width: 10%;" class="text-center">Cód. B. <i class="fas fa-angle-down"></i></th>
							<th style="width: 25%;">Nome <i class="fas fa-angle-down"></i></th>
							<th style="width: 10%;" class="text-center">Valor <i class="fas fa-angle-down"></i></th>
							<th style="width: 10%;" class="text-center">Qtde <i class="fas fa-angle-down"></i></th>
							<th style="width: 10%;" class="text-center">Categoria <i class="fas fa-angle-down"></i></th>
							<th style="width: 15%;" class="text-center">Fornecedor <i class="fas fa-angle-down"></i></th>
							<th style="width: 10%;" class="text-center">UN <i class="fas fa-angle-down"></i></th>
							<th style="width: 10%;" colspan="2" class="text-center">Ações <i class="fas fa-angle-down"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="produto : ${pagina.content}">
							<td class="text-center" th:text="${produto.codigoBarras}"></td>
							<td th:text="${produto.nome}"></td>
							<td class="text-center">[[${{produto.precoVenda}}]]</td>
							<td class="text-center">[[${{produto.quantidade}}]]</td>
							<td class="text-center" th:text="${produto.categoria.nome}"></td>
							<td class="text-center" th:text="${produto.fornecedor.nome}"></td>
							<td class="text-center" th:text="${produto.unidade}"></td>
							
							<td class="text-center">
								<div th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">
									<a th:href="@{|/produtos/${produto.codigo}|}" data-toggle="tooltip" title="EDITAR" data-position="top">
										<i class="fas fa-pencil-alt"></i>
									</a>
								</div>
							</td>
							<td class="text-center" data-toggle="tooltip" title="EXCLUIR" data-position="top"> 
								<div th:if="${#strings.contains(#authentication.principal.authorities, 'PESQUISAR_VENDA_ADMIN')}">
									<a href="javascript:;" class="js-btn-excluir" th:url="@{|/produtos/${produto.codigo}|}">
										<i class="fas fa-trash-alt text-danger"></i>
									</a>
								</div>
							</td>
						</tr>
						
						<tr th:if="${#lists.isEmpty(pagina.content)}"> 
							<td colspan="9" class="text-center">Nenhuma informação encontrado!</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<th:block th:include="componentes/paginacao"></th:block>
		</div>
	</div>
	
  	<!-- JavaScript -->
  	<th:block layout:fragment="javascripts">
  	<script th:src="@{vendor/sweetalert/sweetalert.min.js}"></script>
  	<script th:src="@{js/pdv.dialogo-excluir.js}"></script>
  	</th:block>
  	
  	<script>
	$(document).ready(function(){
	  $('[data-toggle="tooltip"]').tooltip();
	});
	</script>
</body>
</html>